body {
  font-family: 'Quicksand', sans-serif;
  font-size:1.5vw;
}

h1 {
  text-align: center;
}

/* audio {
  min-width: 50%;
} */

.song {
  padding-left: 10vh;
}


.image {
  min-width: 50px;
  max-width: 170px;
  height: auto;
}

#song-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 50px 100px 50px 100px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 7px 7px 5px #888
}